*{
    padding: 0;
    margin: 0;
    border: 1px;
    box-sizing: border-box;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 10px;
    grid-gap: 30px;
}
.card{
    background-color: rgb(30, 159, 171);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
    height: auto;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color:rgb(218, 213, 213);
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: rgb(218, 213, 213);
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}